/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Estilização geral */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #1E3A8A;
    padding: 15px 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #111;
    border-radius: 5px;
}

/* Conteúdo Principal */
.content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.image-container {
    flex: 1;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text {
    flex: 2;
    padding: 20px;
}

/* Rodapé */
footer {
    background-color: #1E3A8A;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
    text-align: left;
}

.footer-section h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: #fff;
}

.footer-section p, .footer-section ul {
    font-size: 1em;
    color: #ddd;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #ddd;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-section ul li a:hover {
    color: #fff;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.4em;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: #ddd;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    font-size: 0.9em;
    color: #ccc;
}

/* Responsividade */
@media (max-width: 1024px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .text {
        padding: 0;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }
}

.read-more {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1E3A8A;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.read-more:hover {
    background-color: #111;
}
